/* --- FORMULAIRE D'AJOUT DE PROFIL --- */

.form {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
}


.form h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.form__addprofile {
  display: grid;
  gap: 1rem;
  align-items: center;
}


.form__addprofile input[type="text"],
.form__addprofile select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  width: 100%;
  box-sizing: border-box;
}

.addprofile__btn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.addprofile__btn:hover {
  background: #333;
}

/* Version Desktop */
@media (min-width: 48rem) {
 
  .addprofile__btn {
    justify-self: center;
    padding: 0.8rem 3rem;
    width: auto;
  }
}