<div class="form">
    <h1>Ajouter ou modifier un profile utilisateur</h1>
    <select id="profile_selector" onchange="{{handlerChange}}">
        <option value="">Créer un nouveau profil</option>
        {{options}}
    </select>
    
    
    <form class="form__addprofile" id="profileForm">
        <input type="hidden" name="todo" id="todo_action" value="addprofile">
        <input type="hidden" name="id" id="profile_id" value="">

        <input type="text" name="name" id="profile_name" placeholder="Nom du profil" required>
        <input type="text" name="avatar" id="profile_avatar" placeholder="url avatar">
        <select name="age" required >
            <option value="0">Tout public</option>
            <option value="10">10 ans</option>
            <option value="12">12 ans</option>
            <option value="16">16 ans</option>
            <option value="18">18 ans</option>
        </select>
        <input class="addprofile__btn" type="button" onclick="{{handlerSubmit}}" value="Enregistrer">
    </form>
</div>